@media{
    margin: auto;

}

body{
    margin: auto;
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------header-------*/

header{
    background: #fff;
    color: #6142a0;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



.logo{
    font-size: 24px;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 20PX;
}

.nav-links a{
    color: #a5a5a5;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover{
    color: #8665C8;
}

.botao{
    text-decoration: none;
    color: #6142a0;
    background: #8665C8;
    padding: 20px;
    border-radius: 6px;
    position: relative;
    z-index: 1;
}

.botao:hover{
    color: #E4B7FF;
    background: #a17ceb;
}

/*------main------*/
.container{
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    margin: auto;
    
}
main{
    flex: 1;
    padding: 0px;
    }

.galeria img{
    display: block;
    width: 100%;
    height: 1000px;
    position: relative;
    z-index: -3;
    margin: 0;
    padding: 0;
    border-radius: 0;
}



/*------footer------*/
footer{
    background: #8665C8;
    color: #eed8fa;
    padding: 100px 0;
    text-align: center;
}

foote-content{
    max-width: 800px;
    margin: 0;
}


.footer-links{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.footer-links a{
    color: #ddd;
    text-decoration: none;
    transition: color 0.3s;

}

.footer-links a:hover{
    color: #E4B7FF;
}

.footer-links a:active{
    color: #6142a0;
}

